@use "sass:map";
@use "sass:list";
@forward "generic";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap');


/* Colors
--------------------------------------------- */
$primary-green: #02C700;
$white: #fff;
$orange: #FEA726;
$black: #1b1b1b;
$gray: #8a8a8a;
$gray-light: #f0f0f0;
$text-primary: #636363;
$pink: #df4065;
$blue: #49a3f8;
$yellow: #ffcc48;
$purple: #bd7fee;


/* Variables
--------------------------------------------- */
$primary-animation: all .3s ease;
$primary-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, .08);
$navigation-height: 100px;
$max-global--content-size: 2520px;
$section__padding__l_r: 20px;
$section__padding__l_r__xxl: 80px;
$section__spacing__top: 200px;
$gap: 48px;
$featured-card__icons: '😍', '🤯', '😲', '🤓', '🤑', '🦄';


/* Media Query
--------------------------------------------- */
$breakpoints: (
        xs: 425px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        xxl:1440px,
        hd: 1920px,
        4k: 2560px
);

@mixin breakpoint($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin breakpointMax($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (max-width: ($size - 1)) {
    @content;
  }
}


/* Mixins
--------------------------------------------- */
@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin grid-container {
  display: grid;
  grid-column-gap: $gap;
  grid-row-gap: $gap;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;

  @include breakpoint(md) {
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin left-side-padding {
  padding-left: $section__padding__l_r;
  @include breakpoint(xxl) {
    padding-left: $section__padding__l_r__xxl;
  }
  @include breakpoint(4k) {
    padding-left: calc((100vw - $max-global--content-size) / 2);
  }
}

/* Layout
--------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125em;
  color: $black;
}

main{
  max-width: 100vw;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: $max-global--content-size;
  margin: auto;
  padding: 0 $section__padding__l_r;

  @include breakpoint(xxl) {
    padding: 0 $section__padding__l_r__xxl;
  }
}

.w-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.d-block {
  display: block;
}

.d-grid {
  @include grid-container;
}

img {
  max-width: 100%;
  height: auto;
}

/* Keyframes
--------------------------------------------- */

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* Components
--------------------------------------------- */

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  border-radius: 100px;
  background-color: $primary-green;
  color: $white;
  border: none;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  font-weight: 500;
  transition: $primary-animation;

  &__text {
    z-index: 1;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    transition: all 0.75s ease-in-out;
    background: $orange url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='14' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E") center no-repeat;
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: $orange;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.75s ease-in-out;
    will-change: transform;
  }

  &:hover {
    .button-primary__icon {
      background: $primary-green url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='14' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E") center no-repeat;
    }

    &:before {
      transform: translateX(0);
    }
  }

  @include breakpoint(lg) {
    padding: 18px 38px;
  }
}

.section-title {
  color: var(--color);
  letter-spacing: -.06em;
  font-size: 2.6em;
  font-weight: 500;
  line-height: 1;
  position: relative;
  margin-bottom: $gap;

  .highlighted {
    color: var(--hilighted-color);
  }

  &:before {
    content: "";
    width: 40px;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    top: -22px;
    left: 0;
    background-color: var(--hilighted-color);
  }

  @include breakpoint(lg) {
    font-size: 3em;
  }

  @include breakpoint(hd) {
    font-size: 4em;
  }
}

.text-primary {
  color: $black;
  line-height: 1.5;
  font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.375rem);
}

/* Styling
---------------------------------------------*/

.navbar {
  width: 100%;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: $white;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__logo {
    max-width: 200px;
  }

  &__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

.hero {
  height: 100svh;
  margin-top: -90px;
  position: relative;
  @include flex-centered;


  &__title {
    text-align: center;
    grid-area: 1 / 1 / 2 / 3;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -6px;
    line-height: 1;
    font-size: 26vw;
    font-family: "Oswald", sans-serif;

    span {
      display: block;
    }
  }

  &__img{
    display: none;
  }

  &__img-green, &__img-yellow {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: $primary-green;
    grid-area: 3 / 7 / 5 / 9;
    z-index: 4;
    object-fit: cover;
    overflow: hidden;
  }

  &__img-yellow {
    grid-area: 5 / 3 / 7 / 4;
    background-color: $yellow;
  }

  &__img-blue, &__img-purple{
    background-color: $blue;
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    grid-area: 6 / 9 / 8 / 12;
    z-index: 4;
    object-fit: cover;
    overflow: hidden;
  }

  &__img-purple{
    background-color: $purple;
    grid-area: 8 / 5 / 10 / 6;
  }

  &__note {
    font-size: 0.7em;
    letter-spacing: -.06em;
    font-weight: 500;
    line-height: 1.4;
    position: absolute;
    padding-bottom: 3vh;
    padding-left: 3vw;
    top: auto;
    bottom: 0;
    left: 0;
    right: auto;

    p:nth-child(2) {
      color: $gray;
    }
  }

  &__arrow {
    width: 20vw;
    height: 20vw;
    background-color: $pink;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 7vw;
    left: auto;
    right: 10vw;
    transition: $primary-animation;
    z-index: 6;
    &:hover {
      background-color: $yellow;
      transform: rotate(90deg);
    }
  }
}

.features {
  padding-top: $section__spacing__top;

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: $gap;
    column-gap: $gap;
  }

  .section-title {
    --color: #{$black};
    --hilighted-color: #{$blue};
  }

  &-card {
    border-radius: 40px;
    background-color: $white;
    padding: 26px;
    font-size: 1.125em;
    line-height: 1.4;
    position: relative;
    transition: $primary-animation;
    cursor: pointer;

    @for $i from 1 through length($featured-card__icons) {
      &:nth-of-type(#{$i})::before {
        content: nth($featured-card__icons, $i);
      }
    }

    &:before {
      position: absolute;
      top: -25px;
      bottom: auto;
      left: auto;
      right: 18%;
      font-size: 50px;
    }

    > * {
      transition: $primary-animation;
    }

    &__number {
      margin-bottom: 50px;
      width: 48px;
      height: 32px;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: $gray-light;
      font-weight: 500;
      color: $black;

    }

    &__title {
      font-weight: 600;
      margin-bottom: 8px;
    }

    &__text {
      color: $gray;
    }

    &:hover {
      background-color: $blue;

      .features-card__number {
        background-color: $white;
        color: $blue;
      }

      .features-card__title,
      .features-card__text {
        color: $white;
      }
    }
  }
}

.ribbon {
  padding-top: $section__spacing__top;
  position: relative;
  z-index: 99;

  &__item {
    @include flex-centered;
    padding: 15px 0;
    position: absolute;

    &:first-of-type {
      background-color: $yellow;
    }

    &:last-of-type {
      background-color: $primary-green;
    }

    p {
      white-space: nowrap;
      letter-spacing: -.06em;
      font-size: 1.87em;
      font-weight: 500;
      line-height: 1;
    }
  }
}

.about {
  margin-top: $section__spacing__top;

  .section-title {
    --color: #{$black};
    --hilighted-color: #{$yellow};
    margin-bottom: $gap;
  }

  .d-grid {
    > div {
      &:first-child {
        grid-area: 1 / 1 / 2 / 3;
        position: relative;
        @include flex-centered;
      }

      &:nth-child(2) {
        grid-area: 2 / 1 / 3 / 3;
        @include flex-centered;
      }
    }
  }

  &__achievements {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $white;
    border-radius: 40px;
    padding: 12px 24px 12px 14px;
    box-shadow: $primary-box-shadow;
    font-size: .8em;
    color: $black;
    gap: 12px;
    font-weight: 500;
    z-index: 3;

    &-icon {
      font-size: 1.87em;
    }

    &:first-of-type {
      top: 0;
      bottom: auto;
      left: auto;
      right: 0;
    }

    &:nth-of-type(2) {
      top: auto;
      bottom: 5%;
      left: 0;
      right: auto;
    }
  }

  &__text {
    color: $text-primary;
    column-gap: 70px;
    line-height: 1.4;
    column-count: 1;
    margin-bottom: 40px;
    font-size: .9em;
  }

  .button-primary {
    max-width: 250px;
    margin-left: auto;
  }
}

.quote {
  margin-top: $section__spacing__top;
  margin-bottom: $section__spacing__top;

  &__container {
    background-color: $primary-green;
    padding: 10vh 5vw 15vh;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .section-title {
    --color: #{$black};
    --hilighted-color: #{$white};
    margin-bottom: calc($gap * 1.5);
  }

  &__text {
    font-size: .9em;
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__author {
    font-weight: 600;
    font-size: .8em;
    letter-spacing: -.06em;
    line-height: 1.4;
  }

  &__spinner {
    background-color: $white;
    -webkit-box-shadow: $primary-box-shadow;
    -moz-box-shadow: $primary-box-shadow;
    box-shadow: $primary-box-shadow;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    &-logo {
      width: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-text {
      animation: spinner 15s linear infinite;
    }
  }
}

.testimonials {
  margin-top: $section__spacing__top;

  .section-title {
    --color: #{$black};
    --hilighted-color: #{$purple};
    grid-area: 1 / 1 / 2 / 3;
  }

  &__text {
    color: $text-primary;
    font-size: 0.9em;
    line-height: 1.4;
    grid-area: 2 / 1 / 3 / 3;
  }

  &-slider {
    @include left-side-padding;
    padding-top: calc($section__spacing__top / 1.5);
    padding-bottom: 60px;
  }

  &__card {
    width: 300px;
    box-shadow: $primary-box-shadow;
    padding: 100px 20px 40px;
    border-radius: 40px;
    position: relative;
    box-sizing: border-box;

    &-image {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 150px;
      height: 150px;
      background-color: $blue;

      &.yellow {
        background-color: $yellow;
      }

      &.pink {
        background-color: $pink;
      }

      &.orange {
        background-color: $orange;
      }

      &.green {
        background-color: $primary-green;
      }

      &.purple {
        background-color: $purple;
      }
    }

    &-text {
      color: $text-primary;
      line-height: 1.4;
      font-size: 0.8em;
      margin-bottom: 20px;
    }

    &-author {
      font-style: italic;
      font-size: 0.85em;
    }
  }

  .swiper-pagination-bullet-active {
    background: $blue;
  }
}

.footer {
  margin-top: $section__spacing__top;
  margin-bottom: 3vw;

  &-container {
    background-color: $yellow;
    border-radius: 40px;
  }

  &__subtitle {
    color: $black;
    opacity: 0.3;
    text-transform: uppercase;
    letter-spacing: -.06em;
    font-size: .875em;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 14px;
  }

  &__link {
    font-size: 1.8em;
    margin-bottom: 3vw;
    color: $black;
    letter-spacing: -.06em;
    font-weight: 500;
    line-height: 1;
    display: block;
    text-decoration: none;
  }

  &__img {
    grid-area: 1 / 1 / 2 / 3;
    align-self: center;
    justify-self: center;
    width: 20vw;
    height: auto;
    margin-top: 10vh;
  }

  &__left-side {
    grid-area: 2 / 1 / 3 / 3;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  &__right-side {
    grid-area: 3 / 1 / 4 / 3;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  &__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    grid-area: 4 / 1 / 5 / 3;
    padding: 20px 0;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    border-top: 1px solid rgba(0, 0, 0, .1);

    a {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $primary-animation;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@include breakpoint(md) {
  .hero {
    &__title {
      font-size: 20vh;
      grid-area: 1 / 1 / 2 / 13;
    }

    &__note {
      font-size: 0.875em;
    }

    &__arrow {
      width: 100px;
      height: 100px;
    }
  }

  .about {

    .d-grid {
      > div {
        &:first-child {
          grid-area: 1 / 1 / 2 / 13;
        }

        &:nth-child(2) {
          grid-area: 2 / 1 / 2 / 13;
        }
      }
    }

    &__text {
      column-count: 2;
    }
  }

  .testimonials {
    .section-title {
      grid-area: 1 / 1 / 2 / 13;
    }

    &__text {
      grid-area: 2 / 1 / 2 / 13;
    }
  }

  .footer {
    &__img {
      grid-area: 1 / 1 / 2 / 13;
    }

    &__link {
      font-size: 2.5em;
    }

    &__left-side {
      grid-area: 2 / 1 / 2 / 13;
    }

    &__right-side {
      grid-area: 3 / 1 / 4 / 13;
    }

    &__social-media {
      grid-area: 4 / 1 / 5 / 13;
    }
  }
}

@include breakpoint(lg) {
  .navbar {
    &__wrapper {
      justify-content: flex-start;
    }
  }

  .hero {
    &__title {
      font-size: 25vh;
      letter-spacing: 1vh;
      grid-area: 1 / 2 / 11 / 12;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__img{
      display: block;
    }
  }

  .features {
    .section-title {
      flex: 1 0 calc(50% - $gap);
    }

    &-card {
      flex: 1 0 calc(25% - $gap);

      &:before {
        opacity: 0;
        top: 0;
        transition: $primary-animation;
      }

      &:hover {
        &:before {
          opacity: 1;
          top: -25px;
        }
      }
    }
  }

  .about {
    .section-title {
      max-width: calc(50% - $gap);
    }

    .d-grid {
      > div {
        &:first-child {
          grid-area: 1 / 1 / 2 / 5;
        }

        &:nth-child(2) {
          grid-area: 1 / 6 / 2 / 13;
        }
      }
    }

    &__text {
      font-size: 1.125em;
    }

    &__achievements {
      &:first-of-type {
        top: 17%;
        bottom: auto;
        left: auto;
        right: -10%;
      }

      &:nth-of-type(2) {
        top: auto;
        bottom: 15%;
        left: 0;
        right: auto;
      }
    }
  }

  .quote {
    &__container {
      background: $primary-green url("data:image/svg+xml,%3Csvg transform='scale(1)' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 500 500' xml:space='preserve' class='show_show__wrapper__graphic__5Waiy '%3E%3Ctitle%3EReact%3C/title%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000001;%7D .st1%7Bfill:%23A04040;%7D .st2%7Bfill:%23F3CB5C;%7D .st3%7Bfill:%23EA8383;%7D .st4%7Bfill:%23FFFFFF;%7D .st5%7Bfill:%2387CCDB;%7D .st6%7Bfill:%23F2EBEB;%7D .st7%7Bfill:%23469F78;%7D%0A%3C/style%3E%3Cg id='character-1'%3E%3Cpath class='st0' d='M230,144.9c0,0,0.8,24.9,5.4,23.1s12.3-19.4,7.7-21.2S230,144.9,230,144.9z'%3E%3C/path%3E%3Cpath class='st0' d='M253.5,147.6c0,0,7.3,25.1,12.2,21.6s5.2-21.7,2-22.9S253.5,147.6,253.5,147.6z'%3E%3C/path%3E%3Cpath class='st1' d='M254.8,147.1c0,0,5.7,18.7,10.2,16.1s2.8-18.2,2.8-18.2L254.8,147.1z'%3E%3C/path%3E%3Cpath class='st1' d='M243.2,148.4c0,0-4.8,15.6-8.5,13.4s-2.3-15.2-2.3-15.2L243.2,148.4z'%3E%3C/path%3E%3Cpath class='st1' d='M150,153.4c0,0-12.5,7.3-16.3,15.7s-5.9,1.5-3.5-5.2c0,0-14.7,7.3-18.1,10.4s-5.5-4.6,10.2-13.3 c0,0-8,3.4-11.6,5.5s-5.8-1.7,2-7s12.8-7.9,12.8-7.9s-8.8,3.4-11.5,5.5s-4.7-2.1,4.3-8.4s24.9-11.6,26.7-12.3S150,153.4,150,153.4z '%3E%3C/path%3E%3Cpath class='st1' d='M140,149.5l10,3.9l27.9-13.5l-2.6-22c0,0-41.5,22.2-43.9,26S140,149.5,140,149.5z'%3E%3C/path%3E%3Cpath class='st2' d='M334.1,120.9l-11.9,22.8c0,0-16.2-4.8-24.3-2.3c-18,5.6-36,10.2-56.1,9s-41.1-11.1-41.1-11.1 s-14.8,1.5-23.8,1.5l-1.7-22.8c0,0,10.7-7.1,22-10.5c25.9-7.8,77.7-15,102.7-5.4S334.1,120.9,334.1,120.9z'%3E%3C/path%3E%3Cpath class='st0' d='M240.8,63c22.3-4.2,46.3,21.9,41.3,42.8s-24.7,19.6-38.7,16.8S221.5,85,221.5,85s-13.9-9.8-9.7-15.8 s11.6-3.8,11.6-3.8s-2.8-4.9,2.6-6.7C237.4,55,240.8,63,240.8,63z'%3E%3C/path%3E%3Cpath class='st1' d='M241.1,75.2c1.2,1.9,2.5,3.7,4,5.4c0.6,0.8,1.4,1.4,2.4,1.8c0.3,0.1,0.7,0.2,1.1,0.1c0.4-0.2,0.8-0.4,1.2-0.7 c0.4-0.2,0.7-0.6,0.7-0.7s0,0,0,0s-0.1,0,0.1,0c0.2,0,0.3-0.2,0.4-0.3c0,0,0-0.1,0-0.1l0,0v0.2c0,0.2,0,0.5,0,0.7 c0,0.5,0.1,1,0.3,1.5c0.2,1,0.8,1.8,1.6,2.3c1,0.5,2.1,0.7,3.2,0.5c-1.1,0.6-2.4,0.8-3.6,0.4c-0.6-0.2-1.2-0.6-1.7-1.1 c-0.4-0.5-0.8-1-1-1.6c-0.3-0.6-0.4-1.2-0.6-1.8c-0.1-0.3-0.1-0.6-0.1-1v-0.3v-0.2c0-0.1,0.1-0.2,0.1-0.3c0.1-0.2,0.2-0.4,0.4-0.6 c0.2-0.1,0.4-0.2,0.6-0.2c0.7-0.1,1.3,0.2,1.7,0.7c0.4,0.5,0.5,1.1,0.3,1.6c-0.2,0.8-0.7,1.4-1.4,1.9c-0.3,0.2-0.6,0.4-0.9,0.5 c-0.3,0.2-0.6,0.3-1,0.4c-0.8,0.2-1.6,0.1-2.3-0.2c-1.2-0.6-2.1-1.5-2.9-2.6C242.5,79.7,241.6,77.5,241.1,75.2z'%3E%3C/path%3E%3Cpath class='st1' d='M246.4,108.4c0.8,1.1,1.6,2.3,2.4,3.3c0.7,1,1.7,1.8,2.8,2.4c0.4,0.2,0.8,0.1,1.2-0.1c0.4-0.3,1-0.8,1.5-1.3 c0.6-0.5,1.2-0.9,1.8-1.3c1.4-0.9,3.2-1,4.8-0.4c0.7,0.3,1.4,0.6,2,1c0.6,0.4,1.2,0.8,1.8,1.3c0.5,0.4,1,0.8,1.5,1.1 c0.4,0.3,0.9,0.4,1.4,0.3c0.5-0.2,0.9-0.6,1.1-1.1c0.6-1.2,1-2.5,1.1-3.8c0.2,1.4,0.2,2.9-0.2,4.2c-0.3,0.8-0.8,1.5-1.6,1.9 c-0.8,0.3-1.7,0.3-2.5-0.1c-0.7-0.3-1.4-0.7-2-1.1c-0.5-0.4-1.1-0.7-1.6-1c-0.5-0.3-1.1-0.6-1.7-0.8c-0.5-0.2-1.1-0.2-1.6-0.2 c-1.2,0.2-2.3,0.7-3.1,1.6c-0.6,0.4-1.1,0.8-1.7,1.2c-0.4,0.3-0.9,0.4-1.4,0.4c-0.5,0-0.9-0.1-1.4-0.3c-1.3-0.8-2.3-1.9-3-3.3 C247.3,111.1,246.8,109.8,246.4,108.4z'%3E%3C/path%3E%3Cpath class='st1' d='M251.3,90.5c2.6-0.2,5.1,0.1,7.6,0.8c1.3,0.4,2.5,1,3.6,1.8c0.6,0.4,1.1,1,1.5,1.6c0.2,0.3,0.4,0.7,0.5,1.1 c0.1,0.3,0.2,0.8,0.3,1c0.4,2,2.4,3.4,4.6,4.2c1.1,0.4,2.3,0.6,3.5,0.7c1.2,0.1,2.5,0,3.6-0.4c-1,0.8-2.3,1.3-3.6,1.4 c-1.3,0.2-2.6,0.1-3.9-0.2c-1.3-0.3-2.6-0.8-3.7-1.7c-1.2-0.9-2-2.2-2.4-3.6c-0.1-0.4-0.1-0.6-0.2-0.8c-0.1-0.2-0.2-0.4-0.3-0.7 c-0.3-0.4-0.6-0.8-1-1.2c-0.9-0.7-1.9-1.3-3-1.8C256.1,91.8,253.7,91.1,251.3,90.5z'%3E%3C/path%3E%3Cpath class='st1' d='M269.6,97.4c0,14.6-7.8,29.3-24.7,29.3c-17.8,0-23.6-14.7-23.6-29.3s10.8-26.4,24.1-26.4 C258.8,70.9,269.6,82.8,269.6,97.4z'%3E%3C/path%3E%3Cpath class='st3' d='M256.8,110.8c0,0-1.6-2.1-3.7-0.8s1.4,6.9,4.8,6S256.8,110.8,256.8,110.8z'%3E%3C/path%3E%3Cpath class='st0' d='M257.2,107.6c0.3,0.9,0.3,1.8,0.2,2.7c-0.2,0.9-0.6,1.8-1.3,2.5c-0.6,0.7-1.5,1.2-2.4,1.5 c-0.4,0.1-0.9,0.2-1.4,0.3c-0.5,0-0.9,0-1.4,0c0.4-0.2,0.9-0.3,1.2-0.4s0.8-0.3,1.2-0.5c0.8-0.4,1.4-0.9,2-1.5 C256.5,110.9,257.1,109.3,257.2,107.6z'%3E%3C/path%3E%3Cpath class='st4' d='M260.2,96.1c0,0-9.1-4-12.4,2.9C247.8,99,257.2,103,260.2,96.1z'%3E%3C/path%3E%3Cpath class='st0' d='M260.6,96.1c-1.2-0.3-2.4-0.5-3.6-0.6c-1.2-0.1-2.4-0.1-3.6,0c-1.2,0.1-2.3,0.4-3.4,0.9 c-1.1,0.6-1.9,1.4-2.6,2.4c0.4-1.2,1.2-2.3,2.2-2.9c1.1-0.7,2.3-1.1,3.6-1.2C255.9,94.5,258.4,95,260.6,96.1z'%3E%3C/path%3E%3Cpath class='st0' d='M260.2,100c-0.1-0.1-0.3-0.2-0.4-0.2c-0.1-0.1-0.2-0.1-0.3-0.2c-0.2-0.2-0.4-0.5-0.6-0.8c0.3-0.1,0.7,0,1,0.2 c0.1,0.1,0.3,0.3,0.3,0.4C260.3,99.6,260.3,99.8,260.2,100z'%3E%3C/path%3E%3Cpath class='st0' d='M257.8,101.2c-0.3-0.2-0.6-0.4-0.8-0.7c-0.2-0.3-0.4-0.6-0.5-0.8c0.4-0.1,0.8,0,1.1,0.4 C257.9,100.4,257.9,100.8,257.8,101.2z'%3E%3C/path%3E%3Cpath class='st0' d='M255,95c0,0,2.4,3.8-0.3,5.1s-6-1.1-4.8-3.7C250,96.4,253.2,94.4,255,95z'%3E%3C/path%3E%3Cpath class='st4' d='M227.1,96.5c0,0,7.3-4.3,10.5,2.5C237.7,99,230.1,103.3,227.1,96.5z'%3E%3C/path%3E%3Cpath class='st0' d='M226.8,96.5c1.8-1.2,4-1.8,6.1-1.7c1.1,0.1,2.2,0.5,3.1,1.2c0.9,0.7,1.5,1.6,1.8,2.7c-1-1.8-2.9-3-4.9-3.1 c-1-0.1-2,0-3,0.1C228.8,95.9,227.8,96.2,226.8,96.5z'%3E%3C/path%3E%3Cpath class='st0' d='M227.4,100.4c-0.2-0.3-0.2-0.7,0.1-1c0.2-0.3,0.6-0.4,0.9-0.3c-0.1,0.3-0.2,0.6-0.4,0.8 C227.8,100.1,227.6,100.3,227.4,100.4z'%3E%3C/path%3E%3Cpath class='st0' d='M229.5,101.5c-0.2-0.3-0.2-0.7,0-1.1c0.1-0.2,0.2-0.3,0.4-0.4c0.2-0.1,0.4-0.1,0.6-0.1 c-0.1,0.3-0.2,0.6-0.3,0.8C230,101.1,229.7,101.3,229.5,101.5z'%3E%3C/path%3E%3Cpath class='st0' d='M231.4,95.2c0,0-1.7,3.9,0.6,5.1c1.4,0.7,3.1,0,3.7-1.4c0.4-0.8,0.3-1.7-0.1-2.5 C235.6,96.4,232.8,94.6,231.4,95.2z'%3E%3C/path%3E%3Cpath class='st0' d='M258.5,92.3c-1.1-0.5-2.3-0.9-3.5-1.2c-0.6-0.1-1.1-0.2-1.7-0.3c-0.6-0.1-1.2-0.1-2-0.2c0.4-0.6,1-1.1,1.7-1.3 c1.5-0.5,3.2-0.1,4.4,1C258,90.8,258.4,91.6,258.5,92.3z'%3E%3C/path%3E%3Cpath class='st0' d='M227.7,92.1c0.3-1.9,1.9-3.3,3.7-3.4c0.9-0.1,1.8,0.1,2.6,0.5c0.4,0.2,0.7,0.5,1.1,0.8c0.3,0.3,0.6,0.6,0.8,1 c-0.4,0-0.8-0.1-1.2-0.2c-0.4,0-0.8-0.1-1.1-0.1c-0.6-0.1-1.3-0.1-1.9,0c-0.6,0.1-1.3,0.2-1.9,0.4 C229.1,91.4,228.4,91.7,227.7,92.1z'%3E%3C/path%3E%3Cpath class='st1' d='M243.8,97.5c0,0-14.6,3.2-10.1,9.3c2.4,3.3,6.3,5.2,10.5,5'%3E%3C/path%3E%3Cpath class='st0' d='M243.8,97.5c-2.2,0.9-4.3,1.9-6.3,3c-1,0.5-1.8,1.2-2.6,2c-0.7,0.6-1.1,1.4-1,2.3c0.1,0.4,0.2,0.8,0.5,1.2 c0.3,0.4,0.6,0.9,1,1.3c0.7,0.8,1.5,1.6,2.4,2.2c1.9,1.3,4.1,2.1,6.4,2.4c-2.4,0.6-5,0.2-7.2-1c-1.1-0.6-2.1-1.4-3-2.3 c-0.4-0.5-0.9-1-1.2-1.5c-0.4-0.6-0.7-1.3-0.8-2c-0.1-0.8,0-1.6,0.4-2.3c0.3-0.6,0.8-1.2,1.3-1.7c1-0.8,2.1-1.5,3.2-2 C239.1,98.2,241.4,97.7,243.8,97.5z'%3E%3C/path%3E%3Cpath class='st0' d='M225.9,84.9c2.2,6.2-2.1,7.3-2.1,7.3c1.9,5.1-2.3,5.9-2.3,5.9c0.6,7.1-3,5.8-3,5.8c-7.9-7.1-1.6-25.2-1.6-25.2 s10.2-10.2,14.9-7.4c1.6-1.8,3.8-3.8,5.8-4.4c4.2-1.3,9.4,0,15.9,2.7c1.7,0.7,3.1,1.7,4.4,3.1c5.5-1.6,11.3,11.7,11.3,11.7 s2.9,19.2,1.6,20.8c0,0-4.6,1.2-3.9-5.3c0,0-5.3-0.8-2.9-5.4c0,0-5.4-1-2.6-6.7c0,0-4.6-3.6-6.3-7.7c-0.3-0.2-2.5-0.7-4.9-1.6 c-7.9-2.8-8.1-6-10.3-7.6c-0.3,1.8-4.3,7.3-8.8,8.2C231,79,230.3,84.8,225.9,84.9z'%3E%3C/path%3E%3Cpath class='st1' d='M264.6,101.5c0.2-1.4,2.1-10.8,5.9-8.2s0.2,18.3-5.3,15.6L264.6,101.5z'%3E%3C/path%3E%3Cpath class='st1' d='M224.2,101.3c-0.2-1.4-2.1-10.8-5.9-8.2s-0.2,18.3,5.3,15.6L224.2,101.3z'%3E%3C/path%3E%3Cpath class='st1' d='M272.5,86.2c-4-0.8-7.7-2.8-10.7-5.7c-0.7-0.8-1.4-1.6-1.9-2.5c-0.3-0.5-0.5-1-0.7-1.5c-0.2-0.5-0.4-1-0.5-1.5 c-0.2-0.6-0.2-1.1-0.2-1.7c0-0.4,0.1-0.8,0.2-1.1c0.2-0.5,0.8-0.9,1.3-1c0.4,0,0.9,0.1,1.3,0.2c0.3,0.2,0.6,0.4,0.9,0.6 c0.6,0.5,1,1.3,1,2.1c0,0.5-0.3,1-0.7,1.4c-0.2,0.2-0.5,0.4-0.8,0.5c-0.5,0.3-1.1,0.5-1.7,0.6c-1.2,0.2-2.5,0-3.5-0.6 c-1-0.6-1.8-1.4-2.4-2.4c-0.3-0.4-0.6-0.9-0.8-1.4l-0.6-1.4c-1.6-3.5-4.8-6.1-8.6-6.9c2,0,4.1,0.6,5.8,1.7c1.8,1.1,3.3,2.7,4.2,4.6 c0.4,0.8,0.9,1.7,1.4,2.4c0.5,0.7,1.1,1.3,1.9,1.7c0.7,0.4,1.5,0.5,2.2,0.3c0.4-0.1,0.8-0.2,1.1-0.4c0.2-0.1,0.3-0.2,0.5-0.3 c0,0,0,0.1,0,0.1c-0.1-0.2-0.2-0.4-0.3-0.5c-0.1-0.2-0.3-0.3-0.5-0.3c0,0,0.2-0.1,0.2-0.1c0,0.1,0,0.2,0,0.3c0,0.4,0.1,0.8,0.1,1.2 c0.4,1.8,1.2,3.5,2.5,4.9C265.6,82.4,268.9,84.7,272.5,86.2z'%3E%3C/path%3E%3Cpath class='st0' d='M240.4,67.9c0.1,1.5,0.3,3.1,0.6,4.6c0.3,1.4,0.8,2.7,1.5,3.9c0.4,0.6,0.8,1.1,1.3,1.5l0.8,0.6 c0.1,0.1,0.3,0.2,0.5,0.2l0.5,0.2l0.5,0.2c0.2,0.1,0.4,0.1,0.5,0.2l1.1,0.4c0.7,0.2,1.5,0.3,2.3,0.6c-0.8,0.2-1.6,0.3-2.4,0.4 c-0.8,0-1.7-0.1-2.5-0.3c-0.4-0.1-0.8-0.2-1.2-0.4l-1.1-0.7c-0.4-0.3-0.7-0.6-1-0.9c-0.3-0.3-0.6-0.6-0.8-1 c-0.9-1.5-1.4-3.2-1.4-4.9C239.4,71,239.7,69.4,240.4,67.9z'%3E%3C/path%3E%3C/g%3E%3Cg id='character-2'%3E%3Cpath class='st0' d='M113.2,242.8c0,0,23.3,8.6,23.4,3.5s-13.4-18.7-16.8-15S113.2,242.8,113.2,242.8z'%3E%3C/path%3E%3Cpath class='st0' d='M124.5,222c0,0,26,2.6,24.7-3.3s-18.1-12.9-20.4-10.5S124.5,222,124.5,222z'%3E%3C/path%3E%3Cpath class='st3' d='M89.1,330.1c0,0,1.4,15.8,7.5,22.9s-1.1,6.7-6.2,1.8c0,0,0.5,18.1,1.8,22.8s-6.6,4.1-7.8-15.7 c0,0-0.3,9.7,0.1,14.2s-4,5.5-5.6-4.7S77,355.2,77,355.2s-0.6,10.5,0.2,14.1s-4,4.2-5.9-7.6s-0.1-30.4,0-32.5 S89.1,330.1,89.1,330.1z'%3E%3C/path%3E%3Cpath class='st5' d='M167.2,103.8l9,19.5c0,0-35.1,25.7-35.5,46.9s-5.9,41.6-15.5,62.3s-27.5,39.1-27.5,39.1s-8.8,43.8-6.2,66.6 l-21.2,3.4c0,0-3.7-42.5,0.5-72.6s15.5-92.6,34.9-115.3S167.2,103.8,167.2,103.8z'%3E%3C/path%3E%3Cpath class='st0' d='M96.9,224.7c0,0-43-8.9-51.8-12.6s-9.2-42.2-6.1-44.9s11.2,6.5,11.2,6.5s2.3-17.8,7.6-19.9s11.6,12,11.6,12 s38.5,13.6,44.3,21.9C115.8,190.8,96.9,224.7,96.9,224.7z'%3E%3C/path%3E%3Cpath class='st1' d='M71.4,215.6c0,0-6.6-0.5-6.7,3.1s15.3,6.4,16,1.9S71.4,215.6,71.4,215.6z'%3E%3C/path%3E%3Cpath class='st3' d='M49.4,203.1c0,0,33.9,24.9,48.1,22.9c10.7-1.4,19.8-9.7,21.6-15.4s-3.8-19.5-5.2-21.3 c-3.2-4.1-36.5-18.7-49.6-17C59.5,173,49.4,203.1,49.4,203.1z'%3E%3C/path%3E%3Cpath class='st3' d='M88.8,178c0,0-4.7-5-1.8-8.3s15.1,6.9,11.8,11.4S88.8,178,88.8,178z'%3E%3C/path%3E%3Cpath class='st0' d='M102.3,193.7c0.6-0.1,1.2,0.1,1.6,0.5c0.5,0.4,0.8,0.9,1,1.5c0.1,0.6,0.1,1.2,0,1.7c-0.1,0.3-0.2,0.5-0.3,0.8 c-0.1,0.2-0.3,0.5-0.4,0.7c0-0.3,0-0.5,0-0.8c0-0.3,0-0.5,0-0.8c0-0.5-0.1-0.9-0.2-1.4C103.7,195,103.1,194.2,102.3,193.7z'%3E%3C/path%3E%3Cpath class='st0' d='M45.6,208.2c0,0,30.7-10.8,19.4-44l-5,8.4L45.6,208.2z'%3E%3C/path%3E%3Cpath class='st0' d='M65.9,207.7c-1-0.3-1.8-1-2.3-1.9c-0.5-0.8-0.8-1.7-0.7-2.6c0-0.9,0.4-1.7,1-2.3c0.7-0.6,1.6-1,2.5-0.9 c0.1,0.8,0.1,1.5,0.1,2.3c0,0.6,0,1.1-0.1,1.6C66.2,205,66.1,205.9,65.9,207.7z'%3E%3C/path%3E%3Cpath class='st6' d='M69.7,211.7c0,0,0.9-10.6,9.9-9.7C79.6,201.9,78.5,212.9,69.7,211.7z'%3E%3C/path%3E%3Cpath class='st0' d='M69.5,212.1c0-1.4,0.2-2.7,0.6-4c0.4-1.3,1.1-2.6,2-3.6c0.9-1.1,2.1-2,3.4-2.4c1.3-0.4,2.8-0.5,4.1-0.1 c-1.3,0-2.6,0.3-3.8,0.8c-1.2,0.5-2.2,1.3-3,2.3c-0.8,1-1.5,2.1-2,3.3C70.3,209.6,69.8,210.8,69.5,212.1z'%3E%3C/path%3E%3Cpath class='st0' d='M70.4,208.4c0,0,5.4,3,7.3-0.4c2.3-4.2-1.4-6.6-3.9-4.6C72.1,204.8,70.4,208.4,70.4,208.4z'%3E%3C/path%3E%3Cpath class='st0' d='M77.8,179.9c-1.8-0.9-4-0.6-5.4,0.9c-0.6,0.6-0.9,1.5-0.9,2.3c0,0.9,0.4,1.8,1,2.4c0.6-0.5,1.2-1,1.7-1.5 c0.4-0.4,0.8-0.8,1.1-1.2C76,182.1,76.7,181.3,77.8,179.9z'%3E%3C/path%3E%3Cpath class='st6' d='M83.3,180c0,0-7.1,8-0.3,13.9C83,193.9,90.2,185.6,83.3,180z'%3E%3C/path%3E%3Cpath class='st0' d='M83.5,179.6c-0.7,1.1-1.3,2.3-1.8,3.6c-0.5,1.2-0.8,2.4-1,3.7c-0.2,1.3-0.1,2.5,0.3,3.7c0.4,1.2,1.1,2.4,2,3.3 c-1.2-0.7-2.2-1.7-2.7-3c-0.6-1.3-0.8-2.7-0.6-4.1c0.2-1.4,0.6-2.7,1.3-4C81.6,181.6,82.5,180.5,83.5,179.6z'%3E%3C/path%3E%3Cpath class='st0' d='M81.4,182.8c0,0,6,1.9,4.7,5.6c-1.5,4.6-5.8,3.5-6,0.3C79.9,186.4,81.4,182.8,81.4,182.8z'%3E%3C/path%3E%3Cpath class='st3' d='M74.6,194.8c0,0,11.9,17,15.9,15.1c3.3-1.5,4.5-6.9,4.5-6.9'%3E%3C/path%3E%3Cpath class='st0' d='M74.6,194.8c1.8,1.9,3.5,3.8,5.3,5.7s3.5,3.8,5.3,5.5c0.9,0.9,1.8,1.6,2.8,2.3c0.4,0.3,0.9,0.5,1.4,0.7 c0.5,0.1,0.6,0.1,1.2-0.2c1-0.6,1.8-1.5,2.5-2.5c0.7-1.1,1.4-2.2,1.9-3.3c-0.1,1.3-0.4,2.7-0.9,3.9c-0.5,1.3-1.4,2.5-2.5,3.4 c-0.2,0.1-0.3,0.2-0.5,0.3l-0.3,0.1c-0.1,0.1-0.2,0.1-0.4,0.1c-0.5,0.1-0.9,0.1-1.4,0c-0.7-0.2-1.4-0.5-2.1-0.9 c-1.1-0.7-2.2-1.6-3.2-2.6c-0.9-0.9-1.8-1.9-2.7-2.9c-0.8-1-1.7-2-2.4-3.1C77.2,199.4,75.8,197.1,74.6,194.8z'%3E%3C/path%3E%3Cpath class='st3' d='M176,122.1c0,0,12-5,21.3-3.2s5.3-4.3-1.5-6.3c0,0,16-8.5,20.8-9.7s0.3-7.7-17.5,0.9c0,0,8.3-5,12.4-6.9 s2.8-6.2-6.8-2.6s-15.1,6.4-15.1,6.4s8.9-5.7,12.4-6.8s1.7-5.5-9.5-1.4s-22.7,11.3-24.5,12.4S176,122.1,176,122.1z'%3E%3C/path%3E%3Cpath class='st4' d='M77.1,239c5.1,0.4,10.3,0.4,15.4-0.3c5.1-0.5,10.1-1.8,14.8-3.8c4.7-1.9,8.8-5,12-8.8c1.5-2,2.8-4.1,3.9-6.4 c1-2.3,1.7-4.7,2.2-7.2c2.1-10,1-20.4-3.1-29.8c-2-4.7-4.7-9.1-8-13c-1.6-2-3.5-3.8-5.4-5.4c-1-0.8-2-1.5-3.2-2.2 c-1.1-0.7-2.3-1.2-3.5-1.6c2.5,0.6,4.9,1.7,7,3.4c2.1,1.5,4.1,3.3,5.9,5.2c3.6,3.8,6.5,8.2,8.7,13c2.2,4.8,3.7,9.9,4.3,15.1 c0.6,5.2,0.4,10.6-0.7,15.7c-0.5,2.6-1.3,5.2-2.3,7.6c-1.1,2.4-2.5,4.7-4.2,6.8c-3.5,4-7.9,7.2-12.9,9.1c-4.9,1.9-10,3-15.3,3.3 c-2.6,0.2-5.2,0.2-7.8,0.1C82.3,239.7,79.7,239.4,77.1,239z'%3E%3C/path%3E%3Cpath class='st4' d='M72.6,267.7c1.9-1,3.9-1.7,5.9-2.1c2.1-0.4,4.2-0.6,6.3-0.4c2.1,0.1,4.3,0.6,6.2,1.5c2,0.8,3.7,2.1,5.2,3.7 c-1.8-0.9-3.7-1.6-5.7-2.2c-1.9-0.5-3.9-0.8-5.9-1C80.7,266.9,76.6,267.1,72.6,267.7z'%3E%3C/path%3E%3Cpath class='st4' d='M69.1,290.2c1.9-1,3.9-1.8,5.9-2.2c2.1-0.5,4.2-0.7,6.4-0.7c2.2,0.1,4.3,0.5,6.4,1.2c2,0.8,3.8,2,5.3,3.6 c-1.8-0.9-3.7-1.6-5.7-2.1c-2-0.4-4-0.6-6-0.7C77.2,289.3,73.1,289.6,69.1,290.2z'%3E%3C/path%3E%3Cpath class='st4' d='M68.8,312.2c1.7-1.1,3.6-1.9,5.6-2.5c2-0.6,4-0.9,6.1-1c2.1-0.1,4.2,0.2,6.2,0.9c2,0.7,3.7,2,4.9,3.8 c-1.6-1.1-3.4-1.9-5.3-2.3c-1.9-0.4-3.8-0.5-5.7-0.4C76.6,311,72.7,311.5,68.8,312.2z'%3E%3C/path%3E%3Cpath class='st4' d='M115.9,143c1.6,2.1,3.4,4,5.3,5.9c1.9,1.8,3.9,3.4,6.1,4.8c1.1,0.7,2.2,1.4,3.4,1.9c1.2,0.6,2.4,1.1,3.6,1.5 c2.5,0.9,5.1,1.5,7.7,2c-2.7,0.3-5.5,0.2-8.1-0.5c-1.3-0.3-2.7-0.7-3.9-1.3c-1.3-0.6-2.5-1.3-3.6-2c-2.3-1.5-4.4-3.3-6.2-5.4 C118.3,147.9,116.9,145.5,115.9,143z'%3E%3C/path%3E%3Cpath class='st4' d='M134.9,126.4c1.2,1.8,2.5,3.6,3.9,5.3c1.4,1.6,2.9,3.2,4.5,4.5l1.2,1c0.4,0.3,0.9,0.6,1.3,0.9 c0.4,0.3,0.9,0.6,1.4,0.8c0.5,0.3,0.9,0.5,1.4,0.7l1.5,0.6l1.5,0.5c0.3,0.1,0.5,0.2,0.8,0.2l0.8,0.2c0.5,0.1,1.1,0.2,1.6,0.4 c-0.6,0.1-1.1,0.1-1.7,0.2l-0.9,0.1c-0.3,0-0.6,0-0.9-0.1l-1.7-0.2c-0.6-0.1-1.1-0.3-1.7-0.4c-2.2-0.7-4.3-1.8-6.1-3.2 c-1.8-1.5-3.3-3.2-4.5-5.1C136.3,130.7,135.4,128.6,134.9,126.4z'%3E%3C/path%3E%3C/g%3E%3Cg id='character-3'%3E%3Cpath class='st2' d='M173.4,376.5c0,0,14.7-20,9.9-21.5s-21.7,7.7-19.1,12S173.4,376.5,173.4,376.5z'%3E%3C/path%3E%3Cpath class='st2' d='M161.6,363.9c0,0,9.7-24.3,3.7-24.6s-17.4,13.9-15.7,16.7S161.6,363.9,161.6,363.9z'%3E%3C/path%3E%3Cpath class='st3' d='M160.3,363.5c0,0,7-18.2,1.9-18.9s-13.4,12.6-13.4,12.6L160.3,363.5z'%3E%3C/path%3E%3Cpath class='st3' d='M165.2,365.6c0,0,13.4-9.3,15-5.3s-7.5,13.4-7.5,13.4L165.2,365.6z'%3E%3C/path%3E%3Cpath class='st3' d='M76.8,311c0,0-1-15.7,2-22.5s-2.5-4.7-5.3,0.2c0,0-4.1-13.5-4.2-17.4s-6.2-1.5-2.2,13.4c0,0-2.6-7.1-3.4-10.6 s-4.5-3.1-3.2,4.8s2.6,12.6,2.6,12.6s-3-7.7-3.3-10.5s-4.1-2.2-2.7,7s7.4,22.6,8,24.2S76.8,311,76.8,311z'%3E%3C/path%3E%3Cpath class='st3' d='M247,412.8c0,0,11.9,1.4,18.2-1.9s4.8,1.8,0.3,4.7c0,0,13.5,2.4,17.2,2.1s2,5.3-12.9,3.2c0,0,7.1,1.7,10.6,2.1 s3.4,3.7-4.4,3.2s-12.4-1.1-12.4-1.1s7.7,2,10.5,2s2.5,3.4-6.6,3c-4.7,0-9.3-1-13.6-2.8C252.5,427,247,412.8,247,412.8z'%3E%3C/path%3E%3Cpath class='st0' d='M60.7,307.7l18.6-0.1c0,0,23.7,43.2,44.2,47.8s20.2-9.6,37.9-1.5c23.1,10.6,18.9,34.9,18.9,34.9 s51.9,20.4,74.6,22.4l-0.8,19.4c0,0-37.7-4.7-66.1-14.5s-72.3-35.2-98.3-60.1C68.8,336.1,60.7,307.7,60.7,307.7z'%3E%3C/path%3E%3Cpath class='st6' d='M162.1,389.2c0,0,3.6,14.4-8.2,34.9s-29.2,21.9-40.7,13s-10.9-27.4-0.7-42.8s24-20.7,24-20.7L162.1,389.2z'%3E%3C/path%3E%3Cpath class='st6' d='M170.6,379.5c0,0-5.5-9.9-15.9-15.1s-22.6-8.4-25.5-2.7s-0.8,24.3-0.8,24.3s24.1,11.2,25.6,10.7 S168,386.5,170.6,379.5z'%3E%3C/path%3E%3Cpath class='st3' d='M115.5,399.3c5.6-16.9,24.5-22,31.1-19c8.3,3.8,14,20.6,6.7,37.4c0,0-15.2,16.6-30.2,9.3 C111.2,421.1,114.2,403.1,115.5,399.3z'%3E%3C/path%3E%3Cpath class='st1' d='M134.1,389.6c0,0-0.7,2.5,1.6,3.3s4.4-5.1,1.7-7.1S134.1,389.6,134.1,389.6z'%3E%3C/path%3E%3Cpath class='st0' d='M131.4,391.1c0.5-0.7,1.2-1.3,2-1.7c0.8-0.4,1.7-0.6,2.6-0.5c0.9,0.1,1.8,0.4,2.5,0.9c0.4,0.3,0.7,0.5,1,0.9 c0.3,0.3,0.5,0.7,0.8,1.1c-0.4-0.2-0.7-0.5-1.1-0.7s-0.7-0.4-1.1-0.6c-0.7-0.3-1.4-0.5-2.2-0.6 C134.4,389.8,132.8,390.2,131.4,391.1z'%3E%3C/path%3E%3Cpath class='st4' d='M120.5,402.8c0,0,6.8,6.6,12.1,1.6C132.6,404.4,125.4,397.7,120.5,402.8z'%3E%3C/path%3E%3Cpath class='st0' d='M120.1,402.6c1,0.7,2,1.2,3,1.8c1,0.5,2.1,0.9,3.1,1.2c1.1,0.3,2.2,0.4,3.3,0.3c1.1-0.1,2.2-0.6,3.1-1.3 c-0.7,1-1.8,1.6-3,1.9c-1.2,0.2-2.4,0.2-3.6-0.1C123.7,405.7,121.7,404.4,120.1,402.6z'%3E%3C/path%3E%3Cpath class='st0' d='M121.8,399.3c0.1,0.2,0.2,0.3,0.3,0.4c0.1,0.1,0.2,0.2,0.2,0.3c0.1,0.3,0.2,0.6,0.2,0.9 c-0.4,0-0.7-0.2-0.9-0.5c-0.1-0.2-0.1-0.3-0.1-0.5C121.5,399.6,121.6,399.4,121.8,399.3z'%3E%3C/path%3E%3Cpath class='st0' d='M124.3,399.1c0.2,0.2,0.4,0.5,0.5,0.9c0.1,0.3,0.1,0.6,0.1,0.9c-0.4,0-0.8-0.3-0.8-0.7 C124,399.8,124.1,399.4,124.3,399.1z'%3E%3C/path%3E%3Cpath class='st0' d='M124.7,405.5c0,0-0.8-4.2,2-4.4s5,3,3,4.9C129.7,406,126.1,406.7,124.7,405.5z'%3E%3C/path%3E%3Cpath class='st3' d='M134.3,410.7c0,0,12.3-7.8,12.4-9.8s-5.2-3.5-7.4-4.3'%3E%3C/path%3E%3Cpath class='st0' d='M134.3,410.7l4.9-3.8c1.6-1.2,3.3-2.5,4.9-3.8c0.8-0.6,1.4-1.3,2-2.1c0.2-0.2,0.1-0.5-0.2-0.9 c-0.3-0.4-0.7-0.7-1.1-0.9c-1.8-1-3.6-1.9-5.5-2.7c2.1,0.4,4.1,1.1,5.9,2c0.5,0.3,1,0.6,1.4,1c0.2,0.2,0.4,0.5,0.5,0.8 c0.1,0.2,0.1,0.4,0.1,0.6c0,0.2-0.1,0.4-0.2,0.5c-0.6,0.9-1.4,1.7-2.2,2.4c-1.6,1.3-3.3,2.5-5.1,3.7 C137.9,408.6,136.1,409.7,134.3,410.7z'%3E%3C/path%3E%3Cpath class='st4' d='M148.3,417.1c0,0-8.5-1.3-7.3-8.4C141,408.7,149.7,410.2,148.3,417.1z'%3E%3C/path%3E%3Cpath class='st0' d='M148.6,417.3c-2.2-0.2-4.3-1-6-2.5c-0.9-0.7-1.5-1.7-1.9-2.8c-0.4-1.1-0.4-2.2,0-3.3c-0.1,1,0.1,2.1,0.6,3 c0.4,0.9,1.1,1.8,1.8,2.4c0.8,0.7,1.7,1.3,2.6,1.7C146.7,416.5,147.6,417,148.6,417.3z'%3E%3C/path%3E%3Cpath class='st0' d='M150.4,414c0,0.4-0.3,0.7-0.7,0.7c-0.3,0.1-0.7-0.1-0.9-0.4c0.2-0.2,0.5-0.3,0.8-0.4c0.1,0,0.2,0,0.4,0 C150,414,150.2,414,150.4,414z'%3E%3C/path%3E%3Cpath class='st0' d='M149.2,411.9c0,0.4-0.3,0.7-0.6,0.8c-0.2,0.1-0.4,0.1-0.5,0.1c-0.2,0-0.4-0.1-0.5-0.3c0.2-0.2,0.5-0.3,0.8-0.5 C148.6,411.9,148.9,411.9,149.2,411.9z'%3E%3C/path%3E%3Cpath class='st0' d='M144,415.5c0,0,3.7-1.9,2.4-4.2s-4.9-2-5.3,0.6C141.2,411.9,142.5,415,144,415.5z'%3E%3C/path%3E%3Cpath class='st0' d='M120.6,406.7c0.8,0.9,1.6,1.7,2.5,2.5c0.4,0.3,0.9,0.6,1.3,0.9c0.5,0.3,1,0.6,1.6,1.1 c-0.7,0.4-1.4,0.5-2.1,0.4c-1.6-0.2-2.9-1.3-3.3-2.7C120.3,408.2,120.3,407.4,120.6,406.7z'%3E%3C/path%3E%3Cpath class='st0' d='M146.7,420c-1,1.5-3,2-4.6,1.4c-0.8-0.3-1.5-0.9-2-1.6c-0.2-0.3-0.4-0.7-0.6-1.1c-0.1-0.4-0.2-0.8-0.2-1.2 c0.3,0.2,0.7,0.4,1,0.6c0.3,0.2,0.6,0.4,0.9,0.6c0.5,0.3,1.1,0.6,1.6,0.9c0.6,0.2,1.1,0.4,1.7,0.4C145.2,420,145.9,420,146.7,420z'%3E%3C/path%3E%3Cpath class='st4' d='M130.3,361.2c2.3-0.9,4.7-1.3,7.1-1.3c2.4-0.1,4.9,0.2,7.3,0.6c2.4,0.5,4.7,1.3,6.9,2.2c1.1,0.5,2.2,1,3.3,1.6 s2.1,1.2,3.1,1.9c-1.1-0.5-2.2-1-3.3-1.5s-2.2-0.9-3.3-1.3s-2.2-0.8-3.4-1.1s-2.3-0.6-3.5-0.9c-2.3-0.5-4.7-0.8-7.1-0.9 c-1.2-0.1-2.4,0-3.6,0.1C132.7,360.8,131.5,360.9,130.3,361.2z'%3E%3C/path%3E%3Cpath class='st4' d='M161.9,392.9c-0.6-1.8-1.3-3.5-2.1-5.2c-0.8-1.7-1.7-3.3-2.7-4.9c-1-1.5-2.2-3-3.4-4.3 c-1.3-1.3-2.8-2.5-4.3-3.5c1.8,0.7,3.4,1.7,4.9,3c1.4,1.3,2.7,2.7,3.7,4.3C160,385.5,161.3,389.1,161.9,392.9z'%3E%3C/path%3E%3Cpath class='st4' d='M142.9,433.8c0.8-1.4,1.7-2.8,2.8-4l3-3.8c2-2.5,3.9-5.1,5.7-7.8c-1.1,3.1-2.8,5.9-4.9,8.4 c-1,1.3-2.1,2.5-3.2,3.7c-0.6,0.6-1.1,1.2-1.7,1.8C144,432.6,143.4,433.2,142.9,433.8z'%3E%3C/path%3E%3Cpath class='st4' d='M113.5,428.7c-0.9-1-1.6-2.1-2.2-3.3c-0.3-0.6-0.6-1.2-0.8-1.8l-0.3-0.9l-0.3-1c-0.7-2.6-0.8-5.3-0.5-8l0.3-2 c0.1-0.6,0.3-1.3,0.5-1.9c0.4-1.3,0.8-2.5,1.3-3.7c0.5-1.2,1.2-2.4,1.8-3.5s1.5-2.2,2.2-3.3c-0.6,1.2-1.2,2.3-1.8,3.5 s-1.1,2.4-1.5,3.6c-0.4,1.2-0.8,2.4-1.1,3.7c-0.1,0.6-0.3,1.2-0.4,1.9l-0.3,1.9c-0.3,2.6-0.2,5.1,0.3,7.7 C111,424,112,426.5,113.5,428.7z'%3E%3C/path%3E%3C/g%3E%3Cg id='character-4'%3E%3Cpath class='st0' d='M331.3,348.6c0,0-15.2-19.7-18-15.5s1.4,22.9,6.2,21.6S331.3,348.6,331.3,348.6z'%3E%3C/path%3E%3Cpath class='st0' d='M310.7,360.1c0,0-20.7-16-22.6-10.3s8.5,20.6,11.8,19.7S310.7,360.1,310.7,360.1z'%3E%3C/path%3E%3Cpath class='st1' d='M216.7,417.1c0,0-15.7-2.1-22.5-8.5s-6.8,0.8-2,6.2c0,0-18-1.3-22.7-2.9s-4.4,6.4,15.3,8.6 c0,0-9.7-0.1-14.2-0.8s-5.6,3.8,4.4,5.8s16.2,2.6,16.2,2.6s-10.5,0.1-14.1-0.9s-4.3,3.8,7.3,6.2s30.3,1.5,32.5,1.5 S216.7,417.1,216.7,417.1z'%3E%3C/path%3E%3Cpath class='st1' d='M398.1,287.4c0,0,7.2-14.1,5.9-23.4s4.5-5.1,6.2,1.8c0,0,9.2-15.5,10.6-20.3s7.7,0-1.7,17.4 c0,0,5.4-8,7.5-12.1s6.3-2.5,2.2,6.9c-4.1,9.4-7.1,14.8-7.1,14.8s6.1-8.6,7.4-12.1s5.6-1.4,0.9,9.6S414,296,412.7,297.8 S398.1,287.4,398.1,287.4z'%3E%3C/path%3E%3Cpath class='st7' d='M248,435.7l-2.3-26.1c0,0,17.7-6.9,23.7-14.3c13.3-16.4,27.1-32.1,46.2-44.5s44.1-18.5,44.1-18.5 s12.7-11,21-17l14.8,17.1c0,0-5.7,12.8-14.1,23c-19.4,23.4-62.6,63.6-91.1,72.5S248,435.7,248,435.7z'%3E%3C/path%3E%3Cpath class='st1' d='M409.6,283.9l-11.5,3.5l-17.8,29.3l15.1,15.8c0,0,25.3-45.3,25.3-49.9S409.6,283.9,409.6,283.9z'%3E%3C/path%3E%3Cpath class='st1' d='M209.6,431.5c1.5,0,7.2,3.5,7.2,3.5l31.2,0.7l-1.9-24.6l-29.4,6L209.6,431.5z'%3E%3C/path%3E%3Cpath class='st0' d='M355.4,393c0,0,4.8,4.1,6.8,1.4s-8.1-13.4-11.1-10.3S355.4,393,355.4,393z'%3E%3C/path%3E%3Cpath class='st1' d='M368.6,414.2c0,0-24.8-54.7-31.1-56.4c-21.6-5.6-32.9,18.1-32.4,23.5s24.1,44.8,24.1,44.8s10.3-4.7,18.5,2.7 l22.3-14.2C370,414.7,366.7,415.6,368.6,414.2z'%3E%3C/path%3E%3Cpath class='st1' d='M323.6,412.3c0,0,0.8,6.4-3.3,7.3s-7.7-13.7-2.6-15.3S323.6,412.3,323.6,412.3z'%3E%3C/path%3E%3Cpath class='st0' d='M327.1,397.9c-0.5-0.3-0.8-0.7-1-1.3c-0.2-0.6-0.2-1.2,0-1.7c0.2-0.5,0.6-1,1-1.4c0.2-0.2,0.4-0.3,0.7-0.4 c0.2-0.1,0.5-0.2,0.8-0.3c-0.1,0.2-0.3,0.4-0.4,0.6c-0.1,0.2-0.3,0.4-0.4,0.6c-0.2,0.4-0.5,0.8-0.6,1.2 C326.8,396.1,326.8,397.1,327.1,397.9z'%3E%3C/path%3E%3Cpath class='st2' d='M347,412.5c-0.2,1.3-0.7,2.5-1.5,3.5c-0.7,1-1.6,1.9-2.7,2.6c-1.1,0.7-2.3,1.2-3.6,1.4 c-1.3,0.2-2.7-0.1-3.8-0.8c1.1-0.4,2.1-0.9,3.1-1.5c0.9-0.5,1.8-1.1,2.7-1.7l2.7-1.8C344.9,413.6,345.9,413,347,412.5z'%3E%3C/path%3E%3Cpath class='st2' d='M355.6,406.3c0.5-0.6,1-1.1,1.6-1.5c0.5-0.3,0.9-0.6,1.5-0.9c0.5-0.2,0.9-0.4,1.4-0.6c0.5-0.2,1.1-0.4,1.9-0.8 c0.3,0.8,0.2,1.7-0.2,2.5c-0.4,0.7-1,1.2-1.8,1.6c-0.7,0.3-1.4,0.5-2.2,0.5C357,407.1,356.3,406.8,355.6,406.3z'%3E%3C/path%3E%3Cpath class='st6' d='M332.9,413.4c0,0,11.3-3,9.5-11.9C342.5,401.5,330.8,404.8,332.9,413.4z'%3E%3C/path%3E%3Cpath class='st0' d='M332.5,413.7c1.3-0.6,2.6-1.3,3.8-2.1c1.2-0.7,2.3-1.6,3.3-2.6c1-1,1.8-2.1,2.3-3.4c0.5-1.3,0.7-2.8,0.5-4.2 c0.6,1.4,0.6,3,0.2,4.4c-0.4,1.5-1.2,2.8-2.3,3.9C338.1,411.8,335.4,413.2,332.5,413.7z'%3E%3C/path%3E%3Cpath class='st0' d='M336.4,412c0,0-4.1-2.9-1.4-6.2c2.4-2.9,7.5-0.4,6.4,1.8S336.4,412,336.4,412z'%3E%3C/path%3E%3Cpath class='st6' d='M360,396.9c0,0-4.2,6.4-10,0.7C350,397.6,354.5,391.1,360,396.9z'%3E%3C/path%3E%3Cpath class='st0' d='M360.3,396.8c-0.5,1-1.2,1.8-2,2.4c-0.9,0.7-1.9,1.1-3,1.3c-1.1,0.1-2.2-0.1-3.2-0.7c-0.9-0.5-1.7-1.2-2.2-2.1 c1.5,1.2,3.4,1.9,5.3,1.8C357.2,399.1,359,398.2,360.3,396.8z'%3E%3C/path%3E%3Cpath class='st0' d='M357.7,398.9c0,0-0.6-4.8-3.3-4.3c-4.6,0.9-3.7,4.7,0,5.4C355.6,400.1,356.8,399.7,357.7,398.9z'%3E%3C/path%3E%3Cpath class='st2' d='M331.1,424.1c0,0-6.4-15.6-8.5-17.1s-1.8,9-1.8,9s10.3,26.6,14.4,28.6s54-41.4,48.6-41.5s-24.6,13.6-24.6,13.6 l-16.1,8.9C343.2,425.8,336.3,423,331.1,424.1z'%3E%3C/path%3E%3Cpolyline class='st1' points='351.9,405.1 345.8,384.1 337.9,388.9 '%3E%3C/polyline%3E%3Cpath class='st0' d='M351.9,405.1c-0.8-1.7-1.5-3.4-2.1-5.1s-1.3-3.4-1.8-5.2s-1.1-3.5-1.6-5.2s-1-3.5-1.5-5.3l1.4,0.5 c-0.7,0.4-1.4,0.8-2,1.1s-1.4,0.7-2.1,1c-1.4,0.7-2.8,1.3-4.3,1.9c1.2-1,2.4-2,3.6-2.9c0.6-0.5,1.3-0.9,1.9-1.4s1.3-0.9,1.9-1.3 l1-0.7l0.4,1.2c0.6,1.7,1.1,3.5,1.6,5.2s1,3.5,1.4,5.3s0.9,3.5,1.2,5.4S351.7,403.3,351.9,405.1z'%3E%3C/path%3E%3C/g%3E%3Cg id='character-5'%3E%3Cpath class='st0' d='M364.8,204.7c0,0-22.9,9.6-19.6,13.3s22.5,4.6,22.5-0.4S364.8,204.7,364.8,204.7z'%3E%3C/path%3E%3Cpath class='st0' d='M370.6,227.6c0,0-20.8,15.8-15.8,19.2s22.1-2.9,22.1-6.2S370.6,227.6,370.6,227.6z'%3E%3C/path%3E%3Cpath class='st3' d='M398.4,333.1c0,0-6.1,14.6-14.1,19.6s-1,6.8,5.4,3.6c0,0-5.9,17.1-8.7,21.2s5,5.9,12.2-12.5 c0,0-2.7,9.3-4.4,13.5s2.2,6.4,6.7-2.8s6.7-15,6.7-15s-2.6,10.2-4.5,13.4s2.5,5.2,7.9-5.5s9.3-29,9.9-31S398.4,333.1,398.4,333.1z'%3E%3C/path%3E%3Cpath class='st3' d='M320,124.3c0,0-11.7-10.6-21.1-11.7s-3.8-5.7,3.4-5.6c0,0-12.6-12.9-16.9-15.5s2-7.5,16.4,6.2 c0,0-6.4-7.3-9.8-10.4s-0.8-6.7,7.3-0.4s12.5,10.7,12.5,10.7s-6.7-8.1-9.8-10.2s0.1-5.8,9.5,1.6s20.8,22.2,22.1,23.9 S320,124.3,320,124.3z'%3E%3C/path%3E%3Cpath class='st6' d='M416.7,343.3l-19.9-8.2c0,0,11.6-57.4-2.4-73.2s-22.6-26-29.6-47.7S353.5,173,353.5,173s-23.3-38.1-40.7-53 l12.5-16.2c0,0,32.4,28,49.8,52.9s51.6,78.4,52.9,108.3S416.7,343.3,416.7,343.3z'%3E%3C/path%3E%3Cpath class='st3' d='M426.4,219.4c0,0,6.5,0.5,6.6,4.7s-15.1,4.9-15.7-0.4S426.4,219.4,426.4,219.4z'%3E%3C/path%3E%3Cpath class='st3' d='M416.1,186.4c0,0,5-3.9,2.7-6.5s-14.9,5.4-12.4,9S416.1,186.4,416.1,186.4z'%3E%3C/path%3E%3Cpath class='st1' d='M372.5,220.2c0,0-4.6,7.1,4.7,8.5c14.6,2.2,21.7,2,47.8-6.3c14.1-4.5,24-5.9,27.8-11.4s1.5-17.1,1.5-17.1 s13.9-19.7,3.8-29.1s-23,13.4-23,13.4s-17.1,4.8-21.1,6.9C414.1,185.3,357.8,206,372.5,220.2z'%3E%3C/path%3E%3Cpath class='st3' d='M432.8,181.6c0,0-11.4,3-21.4,6.4s-9.8,5.3-6.9,8.3s5.8,4.7,6.4,6.4l1.8,5.7c0.6,2.9,0.6,5.8-0.1,8.7 c-0.8,3.7-1,6.5,1.2,6.6s18.3-4.7,23.2-8.6s7.7-6.9,11-8C447.9,207.2,430.9,191.7,432.8,181.6z'%3E%3C/path%3E%3Cpath class='st0' d='M407.6,219.4c-0.4,0.4-0.9,0.7-1.5,0.8c-0.6,0.1-1.2-0.1-1.7-0.4c-0.5-0.3-0.9-0.7-1.1-1.2 c-0.1-0.2-0.2-0.5-0.3-0.8c-0.1-0.3-0.1-0.5-0.1-0.8c0.2,0.2,0.4,0.4,0.6,0.6c0.2,0.2,0.4,0.3,0.5,0.5c0.3,0.3,0.6,0.6,1,0.8 C405.8,219.4,406.7,219.5,407.6,219.4z'%3E%3C/path%3E%3Cpath class='st0' d='M430.7,204.8c0.9,0.2,1.7,0.5,2.3,1.1c0.7,0.6,1.3,1.3,1.6,2.1c0.4,0.9,0.5,1.8,0.4,2.8 c-0.2,0.9-0.7,1.7-1.5,2.2c0-0.8,0-1.5-0.1-2.3c-0.1-0.6-0.3-1.3-0.6-1.9C432.3,207.5,431.5,206.3,430.7,204.8z'%3E%3C/path%3E%3Cpath class='st0' d='M428,194.3c-0.3-1.6-0.4-2.9-0.7-4.1c-0.1-0.6-0.3-1.1-0.6-1.6c-0.4-0.6-0.8-1.2-1.3-1.7 c0.9-0.1,1.7,0.1,2.4,0.6c0.7,0.6,1.2,1.3,1.4,2.2c0.2,0.8,0.2,1.7-0.1,2.5C429,193,428.6,193.7,428,194.3z'%3E%3C/path%3E%3Cpath class='st1' d='M447.9,159.2c-3.2,2.7-6,5.8-8.4,9.3c-2.4,3.3-3.9,7.2-4.3,11.3c-0.2,2,0.1,4.1,0.6,6c0.3,1,0.6,1.9,1,2.9 c0.4,0.9,0.9,1.8,1.4,2.7c2.2,3.6,4.9,6.8,8,9.6c-3.7-2.3-6.8-5.3-9.3-8.8c-2.6-3.6-3.9-8.1-3.7-12.5c0.5-4.4,2.2-8.6,5-12 C440.9,164.2,444.2,161.3,447.9,159.2z'%3E%3C/path%3E%3Cpolyline class='st3' points='422.4,202.2 406.9,195.6 413,209.1 '%3E%3C/polyline%3E%3Cpath class='st0' d='M422.4,202.2c-1.3-0.4-2.6-0.9-4-1.4l-3.9-1.5c-2.6-1-5.2-2.1-7.8-3.2l0.6-0.6c1,2.2,2,4.5,2.9,6.8 s1.9,4.6,2.7,6.9c-1.2-2.2-2.3-4.4-3.4-6.6s-2.1-4.4-3.2-6.7l-0.5-1.1l1.2,0.5c2.6,1.1,5.1,2.2,7.7,3.4l3.8,1.8 C419.9,200.9,421.2,201.5,422.4,202.2z'%3E%3C/path%3E%3Cpath class='st4' d='M420.3,185.4c0,0,6.6,7.1,0.5,13c-0.4,0.4-1.2,0.4-1.6,0c0,0-0.1-0.1-0.1-0.1C417.4,196.1,414,190,420.3,185.4 z'%3E%3C/path%3E%3Cpath class='st0' d='M420.2,185c1,0.9,1.9,2,2.5,3.2c0.7,1.2,1.1,2.6,1.2,4c0,0.7,0,1.4-0.1,2.1c-0.1,0.7-0.4,1.4-0.7,2 c-0.7,1.2-1.7,2.2-2.9,2.8c0.9-0.9,1.7-2,2.2-3.2c0.5-1.2,0.7-2.4,0.6-3.7c-0.1-1.3-0.4-2.5-0.9-3.7 C421.5,187.3,420.9,186.1,420.2,185z'%3E%3C/path%3E%3Cpath class='st0' d='M418.1,196.8c0,0,3.9,0.9,4.9-2s-2.4-5.2-6.2-2.8C416.7,192,416.4,195.1,418.1,196.8z'%3E%3C/path%3E%3Cpath class='st4' d='M431.8,217.6c0,0,0.8-9.6-7.7-10.5c-0.6-0.1-1.2,0.4-1.3,1c0,0,0,0.1,0,0.1C423,211,424.1,217.9,431.8,217.6z'%3E%3C/path%3E%3Cpath class='st0' d='M432,218.1c-0.1-1.3-0.4-2.6-0.8-3.9c-0.4-1.2-0.9-2.4-1.6-3.4c-0.7-1-1.6-1.9-2.7-2.5c-1.1-0.6-2.4-1-3.7-1.1 c1.3-0.3,2.7-0.1,4,0.4c0.6,0.3,1.3,0.6,1.8,1.1c0.5,0.5,1,1,1.4,1.6c0.8,1.1,1.3,2.4,1.6,3.8C432.3,215.3,432.3,216.7,432,218.1z'%3E%3C/path%3E%3Cpath class='st0' d='M423,209.6c0,0,3.1-2.5,5.6-0.8s1.1,5.7-3.4,6.2C425.2,215,422.7,212,423,209.6z'%3E%3C/path%3E%3C/g%3E%3Cg id='hand'%3E%3Cpath class='st1' d='M381,172.9c-6.1-7.7-10.2-11.8-10.2-11.8s7.6,6.2,9.6,9.1s5-0.5-2-9.5S357.5,141.3,356,140l-21.9-19.2 l-11.4,21.4l24.1,12.6c0,0,10.1,11.1,11.7,20.4s5.3,3.4,4.7-3.8c0,0,12.2,11.8,14.8,15.9s6.4-2.6-6.5-16.1c0,0,6.8,5.9,9.8,9.1 S387.2,180.5,381,172.9z'%3E%3C/path%3E%3Cpath class='st2' d='M302.2,140.1l20,3.6l11.9-22.8c0,0-20.5-16.8-41.6-21.1c0,0-2.4,14.1,0,22.4S302.2,140.1,302.2,140.1z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") no-repeat center right;
      background-size: 50%;
      padding: 7vw;
      max-height: 1000px;
      height: 90vh;
      justify-content: center;
    }

    .section-title {
      max-width: 50%;
      margin-bottom: calc($gap * 2.5);
    }

    &__text {
      font-size: 1.125em;
      max-width: 500px;
      margin-left: 5vw;
    }

    &__author {
      font-size: .9em;
      max-width: 500px;
      margin-left: 5vw;
    }
  }

  .testimonials {
    .section-title {
      grid-area: 1 / 1 / 2 / 6;
    }

    &__text {
      grid-area: 1 / 7 / 2 / 12;
      font-size: 1.125em;
    }

    &__card {
      width: 500px;
      padding: 100px 40px 40px;

      &-text {
        font-size: 0.85em;
      }
    }
  }

  .footer {
    &__img {
      width: 200px;
      height: auto;
      object-fit: cover;
      position: static;
      grid-area: 1 / 6 / 3 / 8;
      align-self: center;
      justify-self: center;
    }

    &__left-side {
      grid-area: 1 / 1 / 2 / 6;
      padding-top: 15vh;
      padding-left: 5vw;
      padding-right: 0;
    }

    &__right-side {
      grid-area: 1 / 7 / 2 / 13;
      justify-self: end;
      align-items: flex-end;
      padding-top: 15vh;
      padding-right: 5vw;
      padding-left: 0;
    }

    &__social-media {
      margin-top: 12vh;
      padding-top: 40px;
      padding-bottom: 40px;
      grid-area: 2 / 1 / 3 / 13;
    }

    &__link {
      font-size: 2em;
    }
  }
}

@include breakpoint(xxl) {
  .testimonials {
    &__text {
      grid-area: 1 / 7 / 2 / 10;
    }
  }

  .footer {
    &__link {
      font-size: 3.125em;
    }
  }
}

@include breakpoint(hd) {
  .hero {
    &__title {
      font-size: 30vh;
    }
    &__arrow {
      width: 200px;
      height: 200px;
    }
  }
}
